@import "tailwindcss";
@import "@heroui/styles"; 
@plugin "daisyui";
@tailwind utilities;

:root {
  --bg-primary: #fafaf9; /* stone-50 */
  --bg-surface: #ffffff;
  --text-main: #1c1917;  /* stone-900 */
  --text-muted: #57534e; /* stone-600 */
  --border-color: #e7e5e4; /* stone-200 */
  --accent-gold: #d97706; /* amber-600 */
}

.dark {
  --bg-primary: #0c0a09; /* stone-950 */
  --bg-surface: #1c1917; /* stone-900 */
  --text-main: #f5f5f4;  /* stone-100 */
  --text-muted: #a8a29e; /* stone-400 */
  --border-color: #292524; /* stone-800 */
  --accent-gold: #fbbf24; /* amber-400 */
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
}